@model IEnumerable<DUT.Application.ViewModels.Apps.AppViewModel>

@{
    ViewData["Title"] = "AllApps";
}

<h1>AllApps</h1>

<p>
    <a asp-action="CreateApp">Create New</a>
</p>

@if (Model == null || Model.Count() == 0)
{
    <p>Apps not found</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShortName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.ActionLink("Редагувати", "EditApp", "App", new { id = item.Id }) |
                        @Html.ActionLink("Детальніше", "AppDetails", "App", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}