@model DUT.Application.ViewModels.Apps.AppViewModel

@{
    ViewData["Title"] = "AppDetails";
}

<h1>AppDetails</h1>

<div>
    <h4>AppViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedFromIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedFromIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppSecret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppSecret) | <a asp-action="ChangeSecretApp" asp-controller="App" asp-route-id="@Model.Id">Змінити секрет</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedFromIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedFromIP)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Редагувати", "EditApp", "App", new { id = Model.Id }) |
    @Html.ActionLink("Видалити", "DeleteApp", "App", new { id = Model.Id }) |
    <a asp-action="AllApps" asp-controller="App">До списку</a>
</div>
